DATA MENTAH.xlsx
Prosposal Skripsi - Revisi Sempro.pdf
*.joblib
!data-mining/core/*.joblib
!backend/models_ml/*.joblib
*.csv
*.xlsx
*.pdf
*.docm
*.docx
*.png
.venv
venv/
frontend/vendor/
frontend/node_modules/
frontend/.env
frontend/database/*.sqlite

# Python bytecode
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
backend/.env

# Ignore perhitungan_manual folder completely
data-mining/perhitungan_manual/