# Database URL Configuration (Gunakan driver mysql+pymysql)
DATABASE_URL=mysql+pymysql://root:@localhost:3306/db_penilaian_slb

# Secret Key untuk Enkripsi JWT (Gunakan string acak yang panjang dan aman)
JWT_SECRET=ganti_dengan_jwt_secret_key_yang_sangat_panjang_dan_aman_di_production

# Masa Kedaluwarsa Access Token JWT (dalam menit)
ACCESS_TOKEN_EXPIRE_MINUTES=120
